:root {
  font-size: 16px;
}

body {
  padding-bottom: 25vh;
  font-size: 1rem;
}

a,
a:visited {
  color: #d33a26;
}
a.book-title,
a.book-title:visited {
  color: #1d6f84;
}

a[href$="pdf"]::after {
  content: "PDF";
  color: white;
  background: #9e9e9e;
  border-radius: 4px;
  padding: 0 2px;
  font-size: 0.75em;
  margin-left: 0.5em;
}

header .timestamp {
  font-size: 0.75rem;
  font-style: italic;
  color: gray;
  text-align: end;
}
header img {
  max-width: 120px;
  margin: 0;
}
header a.to-site:hover {
  border: none;
}

h1.main-title {
  font-size: 1.85rem;
  margin-bottom: 40px;
}

h2 {
  font-size: 1.5rem;
}

footer {
  border-top: 1px solid gray;
  margin-top: 6rem;
  font-size: 1rem;
}
footer .content {
  margin: 0 1rem;
}

footer .content h1 {
  font-size: 1.1rem;
}
footer .content h1::before {
  content: "■";
}
footer .content h2 {
  font-size: 1rem;
  border: none;
  margin: 0;
}
footer .content h2 .sub {
  font-size: 0.9em;
}
footer .content ul {
  font-size: 0.9rem;
  line-height: 1.4;
}

footer .content img {
  margin: 10px 0;
  height: 300px;
}

main ul {
  padding-left: 0;
}

main ul li .num {
  font-size: 0.9em;
  font-weight: bold;
  color: #444;
  display: inline-block;
  width: 50px;
  text-indent: 0;
}

main ul li {
  text-indent: -50px;
  padding-left: 50px;
  list-style: none;
}
